<div class="section sign-up wf-section">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-8">
                <h2 class="sign-up-title">Ramp Up Your User Protection!</h2>
            </div>
            <div class="sign-up-column w-col w-col-4"><a href="/sign-up" class="button">SIGN UP TODAY   ❯</a></div>
        </div>
    </div>
</div>
