<html>
    <head>
        <title>Home</title>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        
        <%- include('partials/navbar.ejs') %>

        <div class="section hero wf-section">
            <div class="w-container">
                <h1 class="small-heading">Scarlet AI</h1>
                <h1 class="huge-heading">beautiful &amp; POWERFUL</h1>
                <p class="subtitle">Scarlet is a multi-purpose OSINT AI designed to help prevent cyber-harassment<br/>across all clients! </p>
                <a href="/sign-up" class="button">GET STARTED NOW</a><a href="#learn-more" class="outline-button">LEARN MORE</a>
            </div>
        </div>
        <div id="learn-more" class="section darkgrey wf-section">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-8">
                        <h2>Time Tracking... everywhere</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
                        <a href="/sign-up" class="get-started-link">Get started now   ❯ </a>
                    </div>
                    <div class="center w-col w-col-4"><img src="https://uploads-ssl.webflow.com/631c337efdaad46ed8fe507b/631c337efdaad4de5efe50a6_All-devices.png" sizes="(max-width: 479px) 64vw, (max-width: 767px) 46vw, (max-width: 991px) 229.3333282470703px, 300px" srcset="https://uploads-ssl.webflow.com/631c337efdaad46ed8fe507b/631c337efdaad4de5efe50a6_All-devices-p-500x288.png 500w, https://uploads-ssl.webflow.com/631c337efdaad46ed8fe507b/631c337efdaad4de5efe50a6_All-devices.png 1131w" alt="" class="all-devices-image"/></div>
                </div>
            </div>
        </div>
        <div class="section darkestgrey wf-section">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-7">
                        <div class="image-crop"><img src="https://uploads-ssl.webflow.com/631c337efdaad46ed8fe507b/631c337efdaad44956fe50a9_black-ipad.png" width="490" sizes="(max-width: 479px) 92vw, (max-width: 767px) 88vw, (max-width: 991px) 416.33331298828125px, 490px" srcset="https://uploads-ssl.webflow.com/631c337efdaad46ed8fe507b/631c337efdaad44956fe50a9_black-ipad-p-500x650.png 500w, https://uploads-ssl.webflow.com/631c337efdaad46ed8fe507b/631c337efdaad44956fe50a9_black-ipad-p-800x1039.png 800w, https://uploads-ssl.webflow.com/631c337efdaad46ed8fe507b/631c337efdaad44956fe50a9_black-ipad-p-1080x1403.png 1080w, https://uploads-ssl.webflow.com/631c337efdaad46ed8fe507b/631c337efdaad44956fe50a9_black-ipad.png 1938w" alt="" class="ipad-image"/></div>
                    </div>
                    <div class="w-col w-col-5">
                        <h2>Easy to use</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
                        <ul role="list" class="feature-list w-list-unstyled">
                            <li class="feature-item w-clearfix">
                                <div class="feature-icon-wrapper"><img src="https://uploads-ssl.webflow.com/631c337efdaad46ed8fe507b/631c337efdaad4d5f1fe5093_icon_55.png" width="30" alt="" class="feature-icon"/></div>
                                <div class="feature-text title">Record your work.</div>
                                <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis.</div>
                            </li>
                            <li class="feature-item w-clearfix">
                                <div class="feature-icon-wrapper"><img src="https://uploads-ssl.webflow.com/631c337efdaad46ed8fe507b/631c337efdaad4c0c5fe508d_icon_51.png" width="30" alt="" class="feature-icon"/></div>
                                <div class="feature-text title">Play it back.</div>
                                <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis mollis, diam.</div>
                            </li>
                            <li class="feature-item w-clearfix">
                                <div class="feature-icon-wrapper"><img src="https://uploads-ssl.webflow.com/631c337efdaad46ed8fe507b/631c337efdaad43bc4fe5095_icon_53.png" width="30" alt="" class="feature-icon"/></div>
                                <div class="feature-text title">Pause at any moment.</div>
                                <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis mollis.</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section darkgrey wf-section">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-5">
                        <h2>you can take it anywhere</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
                        <ul role="list" class="feature-list w-list-unstyled">
                            <li class="feature-item w-clearfix">
                                <div class="feature-icon-wrapper"><img src="https://uploads-ssl.webflow.com/631c337efdaad46ed8fe507b/631c337efdaad49f20fe5092_icon_25.png" width="30" alt="" class="feature-icon"/></div>
                                <div class="feature-text title">Track your time on your phone.</div>
                                <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis.</div>
                            </li>
                            <li class="feature-item w-clearfix">
                                <div class="feature-icon-wrapper"><img src="https://uploads-ssl.webflow.com/631c337efdaad46ed8fe507b/631c337efdaad415b5fe508a_icon_03.png" width="30" alt="" class="feature-icon"/></div>
                                <div class="feature-text title">Create and edit all your projects.</div>
                                <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis mollis, diam.</div>
                            </li>
                            <li class="feature-item w-clearfix">
                                <div class="feature-icon-wrapper"><img src="https://uploads-ssl.webflow.com/631c337efdaad46ed8fe507b/631c337efdaad4cebefe508f_icon_08.png" width="30" alt="" class="feature-icon"/></div>
                                <div class="feature-text title">Send it and get paid.</div>
                                <div class="feature-text">Vivamus sollicitudin, felis vitae facilisis mollis.</div>
                            </li>
                        </ul>
                    </div>
                    <div class="image-column w-col w-col-7">
                        <div class="image-crop iphone"><img src="https://uploads-ssl.webflow.com/631c337efdaad46ed8fe507b/631c337efdaad412e1fe50a4_iPhone-flat2x.png" width="281" alt="" class="iphone-image"/></div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("partials/footer.ejs") %>
    </body>
</html>